<div class="ty-tygh r-desktop" id="tygh_container">
  <div id="ajax_overlay" class="ty-ajax-overlay"></div>
  <div id="ajax_loading_box" class="ty-ajax-loading-box"></div>
  <div class="cm-notification-container notification-container"> </div>
  <div class="tygh-content clearfix">
    <div class="container-fluid content-grid">
        <div class="row-fluid ">
            <div class="span16 main-content-grid">
                <!-- Inline script moved to the bottom of the page -->
                <!-- Inline script moved to the bottom of the page -->
                <p class="ty-no-items">Giỏ hàng của bạn chưa có sản phẩm</p>
                <div class="buttons-container wrap">
                    <a routerLink="" class="ty-btn ty-btn__secondary ">Tiếp tục mua hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tygh-footer clearfix" id="tygh_footer">
    <div class="container-fluid ty-footer-grid">
        <div class="row-fluid ">
            <div class="span16 ty-footer-grid__full-width home-info-pnj">
                <div class="row-fluid ">
                    <div class="span16 ">
                        <div class="ty-wysiwyg-content">
                            <div class="span16 img-logo-footer">
                                <img class="img-lazyload" data-src="https://cdn.pnj.io/images/logo/pnj.com.vn.png" alt="Logo PNJ" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP89/dfPQAJdAN6CIDaegAAAABJRU5ErkJggg==" style="width: 200px; margin-left: 0;"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="stock"></div>
<!-- Inline script moved to the bottom of the page -->
<!-- Inline script moved to the bottom of the page -->
<!--tygh_main_container-->
</div>
<!--tygh_container-->




