<!-- <div class="slideshow">
    <div class="slide" *ngFor="let image of images; let i = index" [ngClass]="{'active': i === currentIndex}">
      <img class="" [src]="image" alt="Slide">

    </div>

  </div>
 <div class="flex justify-between mx-4">
    <button class="font-bold text-3xl  " (click)="prevSlide()"></button>
    <button class="font-bold text-3xl -mt-[50px]" (click)="nextSlide()">➤</button>

 </div> -->
<nav aria-label="breadcrumb" class="w-max -mt-[40px] md:mx-[150px] mb-2">
  <ol class="flex w-full flex-wrap items-center rounded-md bg-blue-gray-50 bg-opacity-60 py-2 px-4">
    <li class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500">
      <a class="opacity-60" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
        </svg>
      </a>
      <span class="pointer-events-none mx-2 select-none font-sans text-sm font-normal leading-normal text-blue-gray-500 antialiased">
        /
      </span>
    </li>
    <li class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500">
      <a class="opacity-60" href="#">
        <span>{{currentUrl}}</span>
      </a>
      <span class="pointer-events-none mx-2 select-none font-sans text-sm font-normal leading-normal text-blue-gray-500 antialiased">
        
      </span>
    </li>
    <li class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500">
      <a
        class="font-medium text-blue-gray-900 transition-colors hover:text-pink-500"
        href="#"
      >
   
      </a>
    </li>
  </ol>
</nav> 
