
<div class="flex items-center justify-center p-12 ml-[200px] bg-gradient-to-r from-cyan-300 to-blue-500">
    <div class="mx-auto w-full max-w-[550px]">
      <h2 class="font-bold text-center my-10 text-2xl">Thêm sản phẩm</h2>
      <form [formGroup]="productForm" (ngSubmit)="onsubmit()">
        <div  class="mb-5">
          <label
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
          Tên sản phẩm
          </label>
          
          <input
          [(ngModel)]="products.title"
          formControlName="title"
            type="text"
            name="title"
            id="title"
            placeholder="Nhập tên"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
          <p class="text-red-500"
          *ngIf="
          productForm.get('title')?.hasError('required')&&
          (productForm.get('title')?.touched || productForm.get('title')?.dirty)
          "
          >
         Vui lòng nhập tên sản phẩm
          </p>
          <p class="text-red-500"
          *ngIf="
          productForm.get('title')?.hasError('minlength')&&
          (productForm.get('title')?.touched || productForm.get('title')?.dirty)
          "
          >
          Vui lòng nhập tên sản phẩm trên 6 ký tự
          </p>
        </div>
        <div class="flex">
          <div class="mb-5">
            <label
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
            Thương hiệu
            </label>
            <input
            [(ngModel)]="products.brand"
            formControlName="brand"
              type="text"
              name="brand"
              id="brand"
              placeholder="Nhập thương hiệu"
              class="w-[260px] rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
            <p class="text-red-500"
            *ngIf="
            productForm.get('brand')?.hasError('required')&&
            (productForm.get('brand')?.touched || productForm.get('brand')?.dirty)
            "
            >
            Vui lòng nhập thương hiệu sản phẩm
            </p>
          </div>
          
        </div>
       
        <div class="mb-5">
          <label
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Giá
          </label>
          <input
          [(ngModel)]="products.price"
          formControlName="price"
            type="number"
            name="price"
            id="price"
            placeholder="Nhập giá"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
          <p class="text-red-500"
          *ngIf="
          productForm.get('price')?.hasError('required')&&
          (productForm.get('price')?.touched || productForm.get('price')?.dirty)
          "
          >
          Vui lòng nhập giá
          </p>
          <p class="text-red-500"
          *ngIf="
          productForm.get('price')?.hasError('min')&&
          (productForm.get('price')?.touched || productForm.get('price')?.dirty)
          "
          >
          Vui lòng nhập giá lớn hơn 0
          </p>
        </div>
        <div class="mb-5">
          <label
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Ảnh
          </label>
          <input
          type="file"  ngxFileSelect (onFileDrop)="onFileSelect($event)" multiple="multiple" accept="image/*"
         
          formControlName="images"
            name="images"
            id="images"
            placeholder="Nhập ảnh"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
         
          <p class="text-red-500"
          *ngIf="
          productForm.get('images')?.hasError('required')&&
          (productForm.get('images')?.touched || productForm.get('images')?.dirty)
          "
          >
          Vui lòng nhập ảnh
          </p>
        </div>
        <div class="mb-5">
          <label
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Mô tả
          </label>
          <input
          [(ngModel)]="products.description"
          formControlName="description"
            type="text"
            name="description"
            id="description"
            placeholder="Nhập mô tả"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
          <p class="text-red-500"
          *ngIf="
          productForm.get('description')?.hasError('required')&&
          (productForm.get('description')?.touched || productForm.get('description')?.dirty)
          "
          >
         Thiếu mô tả sản phẩm
          </p>
        </div>
        

        <!-- <div className="mb-5">
        <label
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            origin
          </label>
              <select
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
               
              >
                <option value="">Chọn xuất xứ</option>
                <option value="Vietnam">Ninh Binh</option>
                <option value="Thailand">Ha Noi</option>
                <option value="Taiwan">Nam Dinh</option>
              </select>
              
            </div> -->
        
        <div>
          <button
          
          type="submit"
            class="hover:shadow-form rounded-md bg-[#6A64F1] hover:bg-blue-800 py-3 px-8 text-base font-semibold text-white outline-none mt-5"
          >
            Thêm
          </button>
        </div>
      </form>
    </div>
  </div>