
  <div class="mx-[150px] grid grid-cols-4 pb-16 ">
    <div>
        <p class="font-medium text-[16px] mb-2">©CTCP Vàng Bạc Đá Quý Trần Lương</p>
        <p class="my-1">Gia Thịnh, Gia Viễn, Ninh Bình</p>
        <p>ĐT: 028 39951703 - Fax: 028 3995 1702</p>
        <p class="my-4">Giấy chứng nhận đăng ký doanh nghiệp: 0300521758 do Sở Kế hoạch & Đầu tư TP.HCM cấp lần đầu ngày 02/01/2004. Ngành, nghề kinh doanh</p>
        <p>Hỗ trợ (08:00-21:00, miễn phí gọi)</p>
        <p class="my-1">Gọi mua: 1800545457 (phím 1)</p>
        <p>Khiếu nại: 1800545457 (phím 2)</p>
    </div>
    <div class=" ml-10 space-y-2">
        <p class="font-medium text-[16px] mb-2">VỀ PNJ</p>
        <p>Câu chuyện PNJ</p>
        <p>Tuyển dụng</p>
        <p>Xuất khẩu</p>
        <p>Kinh doanh sỉ</p>
        <p>Kiểm định kim cương</p>
        <p>Kinh doanh vàng miếng</p>
    </div>
    <div class="space-y-2">
        <p class="font-medium text-[16px] mb-2">DỊCH VỤ KHÁCH HÀNG</p>
        <p>Hướng dẫn đo size trang sức</p>
        <p>Mua hàng trả góp</p>
        <p>Hướng dẫn mua hàng và thanh toán</p>
        <p>Chính sách hoàn tiền</p>
        <p>Chính sách giao hàng</p>
        <p>Cẩm nang sử dụng trang sức</p>
        <p>Chính sách bảo hành thu đổi</p>
        <p class="pb-10">Chính sách khách hàng thân thiết</p>
        <p class="font-medium text-[16px] my-5 ">PHƯƠNG THỨC THANH TOÁN</p>
        <div class="flex space-x-3 mt-2">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg" alt="">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/mastercard.svg" alt="">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/jcb.svg" alt="">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg" alt="">
        </div>
    </div>

    <div>
        <p class="font-medium text-[16px] mb-2">KẾT NỐI VỚI CHÚNG TÔI</p>
        <div class="flex space-x-3">
            <p><img class="w-10" src="https://cdn.pnj.io/images/image-update/footer/facebook.svg" alt=""></p>
        <p><img class="w-10" src="https://cdn.pnj.io/images/image-update/footer/instagram.svg" alt=""></p>
        <p><img class="w-10" src="https://cdn.pnj.io/images/image-update/footer/youtube.svg" alt=""></p>
        <p><img class="w-10" src="https://cdn.pnj.io/images/image-update/footer/email.svg" alt=""></p>
        </div>
        <p class="font-medium text-[16px] my-4">QUAN TÂM ZALO OA PNJ</p>
        <p>Nhận các thông tin khuyến mãi hấp dẫn</p>
        <img class="my-2 mb-[120px]" src="https://cdn.pnj.io/images/2023/zalo.png" alt="">
        <p>CHỨNG NHẬN</p>
        <p><img class="w-24" src="https://cdn.pnj.io/images/image-update/op-da-thong-bao-bo-cong-thuong-183x60.png" alt=""></p>
    </div>
</div>
<div class='fixed bottom-10 left-0 right-0 '>
    <div class="marquee-container bg-black py-2 -mb-[150px]">
      <div class="marquee ">
      <div class="flex justify-between ">
            <div>
                <span class="message-text-title">Chất lượng, uy tín được đặt lên hàng đầu</span>
                <span class="message-text-sub">TNJ 2023</span>
            </div>
            <div>
                <span class="message-text-title">Trang sức chất lượng hàng đầu thế giới</span>
                <span class="message-text-sub">TTL 2023</span>
            </div>
            <div>
                <span class="message-text-title">Chương trình sale khủng tháng 12 này</span>
                <span class="message-text-sub">NRO 2023</span>
            </div>
            <div>
                <span class="message-text-title">Hơn 100 cơ sở trên toàn thế giới</span>
                <span class="message-text-sub">TTL 2023</span>
            </div>
           </div>
      </div>
    </div>
    </div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/651d544310c0b25724887abf/1hbt92aia';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->




