<!-- slideshow -->
<div class="xl:slideshow">
  <div class=" md:w-[700px] md:mx-auto">
    <form
    (submit)="handleSearch()"
    [formGroup]="formValueSearch"
      class="md:w-[588px] ml-[50px] md:ml-[50px]  w-[300px] h-[40px] bg-[#f3f3f3] rounded-[999px] flex items-center"
      action
    >
      <input
      #searchInput
      formControlName="search"
        placeholder="Tìm kiếm tên sản phẩm"
        class="w-full font-[300] text-[18px] bg-transparent outline-none pl-[24px]"
        type="text"
      />
      <button 
       
        class="md:min-w-[100px] my-3 w-[100px] bg-[#EC8F5E] mr-[12px] text-[#fff] font-[300] rounded-[999px] py-[4px]"
      >
        Tìm kiếm
      </button>
    </form>
  
    <div *ngIf="productList?.length > 0"
      class="absolute w-[700px] bg-white h-[180px] rounded border overflow-scroll cursor-pointer"
    >
    <span
    (click)="handleModalSearch()"
    class="cursor-pointer absolute text-red-600 px-[12px] py-[4px] rounded-[50%] bg-[#ccc] z-50 right-[12px] top-[12px]"
  >

  </span>
      <a href="/product/{{item._id}}" *ngFor="let item of productList"
        class="flex px-[16px] my-[12px] border-b-[1px] border-solid border-gray-300"
      >
        <div  class="w-[200px]">
          <img
            class="w-full "
            [src]="item.images[0]"
            alt=""
          />
        </div>
        <div class="ml-[24px]">
          <h2 class="font-[500]">{{item.title}}</h2>
          <h4>mô tả: <span>{{item.description }}</span></h4>
          <h4>Giá: {{formatPrice(item.price)}}đ</h4>
        </div>
      </a>
     
    </div>
    <div *ngIf="productList?.length == 0"
      class="absolute w-full bg-white h-[100px] rounded border  cursor-pointer"
    >
    <span
    (click)="handleModalSearch()"
    class="cursor-pointer absolute text-red-600 px-[12px] py-[4px] rounded-[50%] bg-[#ccc] z-50 right-[12px] top-[12px]"
  >

  </span>
     <h4 class="m-[24px]">Không có sản phẩm nào</h4>
     
    </div>
  </div>
  <div class="md:flex xl:grid-cols-5 grid grid-cols-2 gap-4 md:mx-[190px] md:pt-10">
    <!-- Sorting options -->
    <select class="custom-select" [(ngModel)]="sort" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected hidden>Giá</option>
      <option value="price">Giá từ thấp đến cao</option>
      <option value="-price">Giá từ cao đến thấp</option>
      <option value="assess">Đánh giá cao</option>
    </select>
  
    <!-- Category options -->
    <select class="custom-select" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected hidden>Danh mục</option>
      <option *ngFor="let cate of categorories" [value]="cate._id">{{cate.title}}</option>
    </select>
  
    <!-- Brand options -->
    <select class="custom-select" [(ngModel)]="brand" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected hidden>Thương hiệu</option>
      <option *ngFor="let item of brands" [value]="item._id">{{item.title}}</option>
    </select>
  
    <!-- Filter button -->
    <button (click)="filterProducts()"
      class="bg-blue-500 hover:bg-blue-700 block w-[180px] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300">
      Gửi
    </button>
  
    <!-- Reset button -->
    <button (click)="resetFilters()"
      class="bg-gray-500 hover:bg-gray-700 block w-[180px] ml-[100px] md:ml-0 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300">
      Reset
    </button>
  </div>
  
</div>

  
  <!-- component -->
  <div tabindex="0" class="focus:outline-none -mb-[50px]">
    <div class="mx-auto container py-8">
      <div class="flex flex-wrap items-center lg:justify-between justify-center pb-10 md:mt-16">
        <div *ngFor="let product of products" tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
          <div class="product">
            <div class="image-container">
              <a [routerLink]="['/product', product._id]">
                <img [src]="product.images[0]" alt="Product Image" class="product-image">
              </a>
            
            </div>
          </div>
          <div class="bg-white">
            <p class="text-[13px] text-center font-medium mt-2">{{product.title}}</p>
            <div class="flex justify-center space-x-6">
              <p class="text-amber-600 font-medium my-2">{{formatPrice(product.price)}}đ</p>
              <p class="text-gray-400 font-medium my-2 line-through">{{formatPrice(product.priceroot)}}đ</p>
            </div>
            <div class="flex justify-between mx-10 my-2">
              <p>5⭐️({{product.assess}})</p>
              <p>{{product.sold}}+ đã bán</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  