.image-container {
  position: relative;
  width: 250px;
  height: 200px;
  margin-top: -30px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px 0px 0px 0px;
}

.image-container .hover-image {
  display: none;
  position: absolute;
}

.image-container:hover .original-image {
  display: none;
}

.image-container:hover .hover-image {
  display: block;
}

