<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">

        <img class="w-[500px] mb-[-150px] mt-[-250px] block mx-auto py-5"
            src="https://res.cloudinary.com/dvnui7zt1/image/upload/v1700195858/z4826778010531_f0e5ca3045549e533b7c17c1e6134635_l6ugym.jpg"
            alt="">

        <h1 class="text-2xl font-bold sm:text-3xl">Đặt lại mật khẩu</h1>

        <p class="mt-4 text-gray-500">
            Vui lòng nhập đầy đủ để tiếp tục
        </p>
    </div>

    <form action="" class="mx-auto mb-0 mt-8 max-w-md space-y-4" [formGroup]="ForgotPassword"
        (ngSubmit)="onHandleSubmit()">

        <div class="grid grid-cols-2 gap-4">
            <label for="ma" class="py-3">Mã xác nhận
                <span class="text-red-600 font-bold">*</span>
            </label>

            <div class="relative mx-[-90px]">
                <input id="token" name="token" type="text" formControlName="token"
                    class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                    placeholder="Nhập mã xác nhận " />

            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <label for="ma" class="py-3">Mật khẩu mới
                <span class="text-red-600 font-bold">*</span>
            </label>

            <div class="relative mx-[-90px]">
                <input id="password" name="password" type="password" formControlName="password"
                    class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                    placeholder="Nhập mật khẩu mới " />

            </div>
        </div>

        <div class="flex items-center justify-between">
            <p class="text-sm text-gray-500 ">
                Bạn đã có tài khoản?
                <a class="underline" href="/login">Đăng Nhập</a>
            </p>

            <button type="submit" class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white">
                Đổi mật khẩu
            </button>
        </div>
    </form>
</div>