<!-- component -->
<div class="flex items-center justify-center p-12 ml-[200px] bg-gradient-to-r from-cyan-300 to-blue-500">
    <div class="mx-auto w-full max-w-[550px]">
      <h2 class="font-bold text-center my-10 text-2xl">Form Update</h2>
      <form [formGroup]="categoryForm" (ngSubmit)="onHandleSubmit()">
       
        <div class="mb-5">
          <label
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
          title
          </label>
          <input
          formControlName="title"
            type="text"
            name="title"
            id="title"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
          <p class="text-red-500"
            *ngIf="
            categoryForm.get('title')?.hasError('required')&&
            (categoryForm.get('title')?.touched || categoryForm.get('title')?.dirty)
            "
            >
            vui long nhap title
            </p>
        </div>
        
  
        <div>
          <button
          type="submit"
          
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none mt-5"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>