<!-- slideshow -->
<div class="w-full md:pl-0">
    <div class="slide md:w-full" *ngFor="let image of images; let i = index" [ngClass]="{'active': i === currentIndex}">
      <img class="" [src]="image" alt="Slide">

    </div>

  </div>
 <div class="flex justify-between mx-4">
    <button class="font-bold text-3xl  " (click)="prevSlide()"></button>
    <button class="font-bold text-3xl -mt-[50px]" (click)="nextSlide()">➤</button>

 </div>
<div class="hidden md:grid md:grid-cols-3 md:gap-4 my-4">
    <img src="https://res.cloudinary.com/dmkh3w0of/image/upload/c_scale,h_238,w_476/v1701497152/088492502043339_mjyqfb.jpg" alt="">
    <img src="https://res.cloudinary.com/dmkh3w0of/image/upload/c_scale,w_476/v1701436528/3_ssghru.png" alt="">
    <img src="https://res.cloudinary.com/dmkh3w0of/image/upload/c_scale,w_476/v1701436438/7_qnnojg.png" alt="">
</div>
<div class="text-center my-1 bg-red-500 hover:bg-red-600 text-white w-full py-2 font-medium rounded-md shadow-md transition duration-300 ease-in-out" >
    <span>Chương trình NOEL SALE SOCK dành cho khách hàng mua hàng từ 19-12 đến hết 24-12 !! </span>
    <button (click)="scrollToSection('yourSectionID')" class="bg-white text-black rounded px-3 py-1 hover:bg-green-500 mx-2">xem ngay</button>
</div>


<!-- san pham ban chay -->
<div class="md:mx-[150px] my-b">
    <p class="pl-4 md:pl-0 text-[18px] font-bold text-cyan-600 pt-3 -pb-5">Sản phẩm bán chạy</p>
    <div class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 xl:gap-8 gap-10 pl-[40px] md:pl-0">
        <!-- san pham 1 -->
        <!-- <div *ngFor="let product of filteredProducts.slice(0,4)">
          <a href="/product/{{product._id}}"><div class="text-center w-[290px] bg-gray-100 rounded-xl pb-3">
                <p class="border bg-red-500 w-[100px] text-white font-medium py-1 absolute mt-[10]" *ngIf="product.quantity === 0 " >Hết hàng</p>
                <div class="image-container ">
                    <img src={{product.images[0]}} class="original-image"/>
                    <img src={{product.images[1]}} alt="Ảnh thay thế" class="hover-image w-[300px]" />
                </div>

                
                <p class=" text-[16px]">{{product.title}}</p>
                <div class="flex justify-center space-x-6">
                    <p class="text-amber-600 font-medium my-2">{{product.price}}</p>
                    <p class="text-gray-400 font-medium my-2 line-through">{{product.priceroot}}</p>
                </div>
                <div class="flex justify-between mx-3 my-2">
                    <p>5⭐️({{product.assess}})</p>
                    <p>{{product.sold}}+  đã bán</p>
                </div>
            </div></a>
        </div> -->
        <div *ngFor="let product of filteredProducts.slice(0,4)" tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
            <div class="product">
                <div class="image-container">
                   <a [routerLink]="['/product', product._id]"> <img src={{product.images[0]}} alt="Product Image " width="250px" height="250px" class="product-image"></a>
                    <div class="button-container flex space-x-10 ">
                        <button class="custom-button ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                              </svg>
                        </button>
                        <a href="/cart">
                            <button  class="custom-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                                  </svg>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bg-white">
                    <p class="text-[13px] text-center font-medium mt-2">{{product.title}}</p>
                    <div class="flex justify-center space-x-6">
                        <p class="text-amber-600 font-medium my-2">{{formatPrice(product.price)}}đ</p>
                        <p class="text-gray-400 font-medium my-2 line-through">{{formatPrice(product.priceroot)}}đ</p>
                    </div>
                    <div class="flex justify-between mx-10 my-2">
                        <p>5⭐️({{product.assess}})</p>
                        <p>{{product.sold}}+ đã bán</p>
                    </div>
                    
            </div>
        </div>
        
    </div>

    
</div>
<!-- san pham moi -->

<!-- trang suc cuoi -->
<img  class="md:ml-[160px] lg:block hidden" src="https://res.cloudinary.com/dmkh3w0of/image/upload/v1701497152/banner_Lac_hqyvad.webp" alt="">
<div class="md:mx-[150px] my-10">
    <p class="pl-4 md:pl-0 text-[18px] font-bold text-cyan-600 pt-3 -pb-5">Sản phẩm mới nhất</p>
    <div class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 xl:gap-8 gap-10 pl-[40px] md:pl-0">
         <!-- san pham 1 -->
         <!-- <div *ngFor="let product of topUpdatedAt.slice(0,4)">

          <a href="/product/{{product._id}}"><div class="text-center w-[290px] bg-gray-100 rounded-xl py-3">

                <div class="image-container ">
                    <img src={{product.images[0]}} class="original-image"/>
                    <img src={{product.images[1]}} alt="Ảnh thay thế" class="hover-image w-[200px]" />
                </div>

               
                <p class=" text-[16px]">{{product.title}}- {{ product.createdAt | date: 'dd/MM/yyyy' }}</p>
                <div class="flex justify-center space-x-6">
                    <p class="text-amber-600 font-medium my-2">{{product.price}}</p>
                    <p class="text-gray-400 font-medium my-2 line-through">{{product.priceroot}}</p>

                </div>
                <div class="flex justify-between mx-3 my-2">
                    <p>5⭐️({{product.ratings.start}})</p>
                    <p>{{product.sold}}+  đã bán</p>
                </div>
            </div></a>
        </div> -->


        <div *ngFor="let product of topUpdatedAt.slice(0,4)" tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
            <div class="product">
                <div class="image-container">
                    <a href="/product/{{product._id}}">
                        <img class="w-16 relative -mb-16" src="https://www.publicdomainpictures.net/pictures/210000/velka/new-text-overlay.jpg" alt="">
                    <img src={{product.images[0]}} alt="Product Image " width="250px" height="250px" class="product-image">
                    <div class="button-container flex space-x-10 ">
                        <button class="custom-button ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                              </svg>
                        </button>
                        <a href="/cart">
                            <button  class="custom-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                                  </svg>
                            </button>
                        </a>
                    </div>
                </a>
                </div>
            </div>
            <div class="bg-white">
                    <p class="text-[13px] text-center font-medium mt-2">{{product.title}}- {{ product.createdAt | date: 'dd/MM/yyyy' }}</p>
                    <div class="flex justify-center space-x-6">
                        <p class="text-amber-600 font-medium my-2">{{formatPrice(product.price)}}đ</p>
                        <p class="text-gray-400 font-medium my-2 line-through">{{formatPrice(product.priceroot)}}đ</p>
                    </div>
                    <div class="flex justify-between mx-10 my-2">
                        <p>5⭐️({{product.assess}})</p>
                        <p>{{product.sold}}+ đã bán</p>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
<!-- trang suc phong thuy -->
<img  class="md:ml-[160px] lg:block hidden" src="https://res.cloudinary.com/dmkh3w0of/image/upload/c_scale,h_450,w_1200/v1701436474/10_pqn86b.png" alt="">
<div id="yourSectionID" class="md:mx-[150px] my-10">
    <p class="pl-4 text-[18px] font-bold text-cyan-600 pt-10">Sản phẩm Sale Sock</p>
    <div class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 xl:gap-8 gap-10 pl-[40px] md:pl-0">
       <!-- san pham 1 -->
       <!-- <div *ngFor="let product of saleproduct.slice(0,4)">
        <a href="/product/{{product._id}}"><div class="text-center w-[290px] bg-gray-100 rounded-xl py-3">
            <div class="image-container ">
                <img src={{product.images[0]}} class="original-image"/>
                <img src={{product.images[1]}} alt="Ảnh thay thế" class="hover-image w-[300px]" />
            </div>

            <img class="w-10 absolute -mt-14 ml-4 mb-4"
                src="https://cdn.pnj.io/images/image-update/tag-product/icon-tragop-2.svg" alt="">
            <p class=" text-[16px]">{{product.title}}</p>
            <div class="flex justify-center space-x-6">
                <p class="text-amber-600 font-medium my-2">{{product.price}}</p>
                <p class="text-gray-400 font-medium my-2 line-through">{{product.priceroot}}</p>
            </div>
            <div class="flex justify-between mx-3 my-2">
                <p>5⭐️({{product.assess}})</p>
                <p>{{product.sold}}+  đã bán</p>
            </div>
        </div></a>
    </div> -->


    <div *ngFor="let product of saleproduct.slice(0,4)" tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
       
        <div class="product">
            <div class="image-container">
                <img class="w-16 relative -mb-16" src="https://png.pngtree.com/png-vector/20200207/ourlarge/pngtree-red-big-sale-50-discount-for-your-product-png-image_2141901.jpg" alt="">
               <a [routerLink]="['/product', product._id]"> <img src={{product.images[0]}} alt="Product Image " width="250px" height="250px" class="product-image"></a>
                <div class="button-container flex space-x-10 ">
                    <button class="custom-button ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                          </svg>
                    </button>
                    <a href="/cart">
                        <button  class="custom-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                              </svg>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-white">
                <p class="text-[13px] text-center font-medium mt-2">{{product.title}}</p>
                <div class="flex justify-center space-x-6">
                    <p class="text-amber-600 font-medium my-2">{{formatPrice(product.price)}}đ</p>
                    <p class="text-gray-400 font-medium my-2 line-through">{{formatPrice(product.priceroot)}}đ</p>
                </div>
                <div class="flex justify-between mx-10 my-2">
                    <p>5⭐️({{product.assess}})</p>
                    <p>{{product.sold}}+ đã bán</p>
                </div>
                
        </div>
    </div>
    </div>
</div>
<!-- buton -->
<main class="grid  place-items-center mb-[20px]">
    <!-- component -->
    <button class="group relative h-12 w-48 overflow-hidden rounded-lg bg-white text-lg shadow">
      <div class="absolute inset-0 w-3 bg-gray-400 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
      <span class="relative text-black group-hover:text-white">Xem thêm</span>
    </button>
  </main>

<!-- tai sao -->
<div class="lg:block hidden">
    <p class="bg-sky-700 pt-[30px] pb-[150px] text-center my-10 text-white font-medium  text-[40px]">Tại sao nên chọn NRO ?</p>
    <div class="flex justify-center space-x-[150px]">
        <div class="text-center mt-[20px]">
            <img class="border bg-white w-48 rounded-full -mt-[130px]" src="https://cdn.pnj.io/images/image-update/2020/key_points/icon-circle-tragop.svg" alt="">
            <p class="font-medium">Trả góp lãi suất 0%</p>
            <hr class="border border-black my-2">
            <p>Áp dụng dễ dàng <br> qua thẻ tín dụng của <br> 20 ngân hàng</p>
        </div>
        <div class="text-center mt-[20px]">
            <img class="border bg-white w-48 rounded-full -mt-[130px]" src="https://cdn.pnj.io/images/image-update/2022/10/pnjfast/PNJfast-Giaotrong3h-circleicon.svg" alt="">
            <p class="font-medium">Giao hàng 3h</p>
            <hr class="border border-black my-2">
            <p>Sở hữu ngay món <br> trang sức chỉ trong  <br> vòng 3h</p>
        </div>
        <div class="text-center mt-[20px]">
            <img class="border bg-white w-48 rounded-full -mt-[130px]" src="https://cdn.pnj.io/images/image-update/2020/key_points/icon-circle-nbv.svg" alt="">
            <p class="font-medium">Người bạn vàng</p>
            <hr class="border border-black my-2">
            <p>Giải pháp tài chính <br> cầm đồ thu mua <br> kim cương</p>
        </div>
    </div>
</div>
<!-- tin tuc -->
<div class="mx-[150px] lg:block hidden">
    <p class="text-[18px] font-bold text-cyan-600 my-10 text-center">Tin Tức</p>
    <div class="flex space-x-4">
        <img src="https://cdn.pnj.io/images/promo/150/gia-vang-hom-nay-new.jpg" alt="">

        <div>
            <img class="w-[350px] h-[200px]" src="https://cdn.pnj.io/images/image-update/blog-images/Tram/top-5-trang-suc-dinh-da-cz-pnj-moi-nhat-thang-9-2023.jpg" alt="">
            <p class="font-medium my-2">Top 5 trang sức bán chạy nhất năm 2023</p>
            <p> Lựa chọn một đôi bông tai, dây cổ, nhẫn,… có đính đá CZ sẽ giúp bạn thêm nổi bật. Hãy cùng điểm qua Top 5 trang sức đính đá CZ PNJ mới nhất tháng 9/2023! </p>
            <main class="mt-16">
                <!-- component -->
                <button class="group relative h-10 w-40 overflow-hidden rounded-lg bg-white text-lg shadow">
                  <div class="absolute inset-0 w-3 bg-gray-400 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                  <span class="relative text-black group-hover:text-white">Xem thêm</span>
                </button>
              </main>
        </div>
        <div>
            <img class="w-[350px] h-[200px]" src="https://cdn.pnj.io/images/image-update/blog-images/Tram/Goi-y-30-loi-chuc-hay-than-tinh-danh-cho-doi-tac-cung-mon-qua-trang-suc-thumb-1.jpg" alt="">
        <p class="font-medium my-2"> Gợi ý quà tặng trang sức cho ba mẹ, người thân mùa trung thu đoàn viên 2023 </p>
            <p>  Tết Trung Thu là Tết đoàn viên, là thời điểm để trở về bên ba mẹ và gia đình. Nhân dịp này, hãy cùng PNJ chọn những món quà trang sức đến người thân để thể hiện lòng kính yêu</p>
            <main class="mt-10">
                <!-- component -->
                <button class="group relative h-10 w-40 overflow-hidden rounded-lg bg-white text-lg shadow">
                  <div class="absolute inset-0 w-3 bg-gray-400 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                  <span class="relative text-black group-hover:text-white">Xem thêm</span>
                </button>
              </main>
        </div>

    </div>
</div>
<hr class=" my-16 mx-[150px] border-black">

  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/651d544310c0b25724887abf/1hbt92aia';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

  <script src="chrome-extension://kgejglhpjiefppelpmljglcjbhoiplfn/shadydom.js"></script>
  <script>
      if (!window.ShadyDOM) window.ShadyDOM = { force: true, noPatch: true };
  </script>
  
