<div class="phutter">
    <marquee direction="left" class="text-[10px] my-4 py-3 -ml-3 text-white font-bold text bg-black">
       <!-- <div class="flex justify-between">
        <div>
            <span class="message-text-title">SALE UPTO 50%</span>
            <span class="message-text-sub">HADES™ 2023</span>
        </div>
        <div>
            <span class="message-text-title">GET TO KNOW ABOUT OUR VIBE</span>
            <span class="message-text-sub">HADES™ 2023</span>
        </div>
        <div>
            <span class="message-text-title">SALE UPTO 50%</span>
            <span class="message-text-sub">HADES™ 2023</span>
        </div>
        <div>
            <span class="message-text-title">GET TO KNOW ABOUT OUR VIBE</span>
            <span class="message-text-sub">HADES™ 2023</span>
        </div>
       </div> -->
       <div class="flex justify-between ">
        <div>
            <span class="message-text-title">Chất lượng, uy tín được đặt lên hàng đầu</span>
            <span class="message-text-sub">TNJ 2023</span>
        </div>
        <div>
            <span class="message-text-title">Trang sức chất lượng hàng đầu thế giới</span>
            <span class="message-text-sub">TTL 2023</span>
        </div>
        <div>
            <span class="message-text-title">Chương trình sale khủng tháng 12 này</span>
            <span class="message-text-sub">NRO 2023</span>
        </div>
        <div>
            <span class="message-text-title">Hơn 100 cơ sở trên toàn thế giới</span>
            <span class="message-text-sub">TTL 2023</span>
        </div>
       </div>
    </marquee>
</div>