<div class="phutter">
    <marquee direction="left" class="text-[10px] my-4 py-3 -ml-3 text-white font-bold text bg-black">
       <div class="flex justify-between">
        <div>
            <span class="message-text-title">SALE UPTO 50%</span>
            <span class="message-text-sub">HADES™ 2023</span>
        </div>
        <div>
            <span class="message-text-title">GET TO KNOW ABOUT OUR VIBE</span>
            <span class="message-text-sub">HADES™ 2023</span>
        </div>
        <div>
            <span class="message-text-title">SALE UPTO 50%</span>
            <span class="message-text-sub">HADES™ 2023</span>
        </div>
        <div>
            <span class="message-text-title">GET TO KNOW ABOUT OUR VIBE</span>
            <span class="message-text-sub">HADES™ 2023</span>
        </div>
       </div>
    </marquee>
</div>