<!-- component -->
<div class="md:ml-[350px] mx-[50px] pb-[100px] lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
    <div class="flex">
      <div class="">
        <div class=" inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden mr-10 md:mr-0">
            <!-- <h1 class="font-bold text-center my-16 text-[30px]">Quản Lý Sản Phẩm</h1> -->
            <div class="flex items-center mb-4">
              <a routerLink="/admin/addCoupon"><button
                  class="hover:text-green-500 ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                  </svg>
                  <div
                    class="absolute duration-300 inset-0 w-full h-full transition-all scale-0 group-hover:scale-100 group-hover:bg-white/30 rounded-2xl">
                  </div>
                </button>
              </a>
              <div class="flex items-center justify-between border border-gray-400 p-2 rounded-xl w-[500px] ml-[50px]">
                <input type="text" name="keyword" placeholder="search" class="ml-2 outline-none w-full" />
                
                <button>
                  
                  <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </button>
  
              </div>
              <button (click)="exportexcel()" class="bg-gray-300 ml-[375px] w-[100px] hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                <span>Excel </span>
              </button>
  
            </div>
            
            <table class="min-w-full" id="table-data">
              <thead class="bg-white py-2" >
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2  text-left">
                    STT
                  </th>
                  <th scope="col" class="text-sm font-medium title text-gray-900 px-6 py-2  text-left">
                   Tên mã giảm giá 
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2 text-left">
                    DiscountPrice
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2 text-left">
                    Code
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2 text-left">
                    Type
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2 text-left">
                    litmit
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2 text-left">
                    StartDate
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2 text-left">
                    EndDate
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2 text-left">
                    action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let coupon of coupons, index as i, " class="bg-gray-100 border-b">
                  <td class="px-6  whitespace-nowrap text-sm text-gray-900">{{i+1}}</td>
                  <td class="text-sm text-gray-900 font-light px-6 whitespace-nowrap">
                    <div *ngIf="!isExpanded">
                      {{ coupon.name | slice:0:15 }}
                      <button (click)="toggleExpand()" *ngIf="coupon.name > 50">......</button>
                      
                    </div>
                    <div *ngIf="isExpanded" >
                      {{ coupon.name }}
                      <button (click)="toggleExpand()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                        </svg>
                      </button>
                    </div>
                  </td>
                  
                  <td class="text-sm text-gray-900 font-light px-6 whitespace-nowrap">
                    <div *ngIf="!isExpanded">
                      {{ formatPrice(coupon.discountPrice) | slice:0:15 }}
                      <button (click)="toggleExpand()" *ngIf="coupon.discountPrice.length > 50">......</button>
                      
                    </div>
                    <div *ngIf="isExpanded" >
                      {{ coupon.discountPrice }}
                      <button (click)="toggleExpand()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                        </svg>
                      </button>
                    </div>
                  </td>
                  
                  <td class="text-sm text-gray-900 font-light px-6  whitespace-nowrap">
                    {{formatPrice(coupon.fromPrice)}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6  whitespace-nowrap">
                    {{coupon.type}}
                  </td>
                  <td  class="text-sm text-gray-900 font-light px-6  whitespace-nowrap">
                    {{coupon.limit}}
                  </td>
                  <td  class="text-sm text-gray-900 font-light px-6  whitespace-nowrap">
                    {{coupon.startDate}}
                  </td>
                  <td  class="text-sm text-gray-900 font-light px-6  whitespace-nowrap">
                    {{coupon.endDate}}
                  </td>
                  <td class="text-sm text-gray-900 font-light pr-7 whitespace-nowrap space-x-4">
                    <a [routerLink]="'/admin/updatecoupon/' + coupon._id"> <button
                        class="hover:text-yellow-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square ml-8" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        <div
                          class="absolute duration-300 inset-0 w-full h-full transition-all scale-0 group-hover:scale-100 group-hover:bg-white/30 rounded-2xl">
                        </div>
                      </button></a>
                    <button  (click)="deleteCoupon(coupon._id)" 
                      class="hover:text-red-500">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill ml-8" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                      <div
                        class="absolute duration-300 inset-0 w-full h-full transition-all scale-0 group-hover:scale-100 group-hover:bg-white/30 rounded-2xl">
                      </div>
                    </button>
                  </td>
                </tr>
  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- add -->
  
  
  