
.gradient-custom {
    /* fallback for old browsers */
    background: #dddddd;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(217, 216, 219), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(234, 231, 238), rgba(37, 117, 252, 1))
    }
    .form-outline input{
       margin-left: 5px;
       border:solid 1px
    }