<div
  *ngIf="cartItems && cartItems.products.length > 0; else emptyCart"
  class="container"
>
  <ul>
    <li *ngFor="let item of cartItems.products">
      <div>
        <img src="{{ item.product.images[0] }}" [alt]="item.product.title" />
      </div>
      <div>
        <a routerLink="/product/{{ item.product._id }}">
          {{ item.product.title }}
        </a>
      </div>
      <div>
        Số lượng còn lại: {{ item.product.quantity }}
      </div>
      <div>
        <div class="input-group">
          <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity(item, item.quantity - 1)">-</button>
          <input type="text" class="form-control text-center" [value]="item.quantity" disabled>
          <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity(item, item.quantity +1  )">+</button>
        </div>
        
        <!-- <div *ngIf="quantitySelect.value >= item.product.quantity" class="text-red-500">Số lượng tối đa!</div> -->
        <div class="flex">
          <label
          for="number-input"
          class="block mb-2 text-sm font-medium  text-black"
          >Kích thước:</label
        >
          <form class="max-w-xs mx-auto">
         
          <input
            disabled
            type="text"
            id="quantity-input"
            data-input-counter
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block  py-[1px] dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="999"
            required
            [value]="item.size"
          />
        </form></div>
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(item)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <div class="total-price">
        {{ getTotalPrice() | currency : "VND" }} VNĐ
      </div>
    </div>

    <a (click)="proceedOrder()">Đặt hàng</a><br />
    <a routerLink="">Quay về trang chủ</a>
  </div>
</div>

<ng-template #emptyCart>
  <input id="INPUT_2" type="hidden" value="r-desktop" />

  <noscript id="NOSCRIPT_3"> </noscript>

  <div id="DIV_4">
    <div id="DIV_5"></div>
    <div id="DIV_6"></div>
    <div id="DIV_7"></div>
    <div id="DIV_8">
      <div id="DIV_586">
        <div id="DIV_587">
          <div id="DIV_588">
            <div id="DIV_589">
              <p id="P_590">Giỏ hàng của bạn chưa có sản phẩm</p>
              <div id="DIV_591">
                <a routerLink="" id="A_592">Mua hàng</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="DIV_849"></div>
    </div>
  </div>
</ng-template>
