<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container-xl px-4 mt-24 "style="text-center">
    <!-- Account page navigation-->
    <img src="https://www.tierra.vn/files/bannercach-oNYNJcb86Y.jpg" alt=""style="margin-top:5px">
    <p style="text-align: center;font-size:40px;padding:15px">Cập Nhật Mật Khẩu</p>

    <!-- <nav class="nav nav-borders ">
        <a class="nav-link "href="/infor-account">Hồ Sơ</a>
        <a class="nav-link " href="/update-account">Đơn Hàng</a>
      
    </nav> -->
    <button (click)="goBack()" style="margin-bottom: 5px;"><i class="fas fa-arrow-left"></i> Trở về</button>
    <hr class="mt-0 mb-4">
    <div class="row">
       
        <div class="col-xl-8 ">
            <!-- Account details card-->
            <div class="card mb-4" style="width:600px">
                <div class="card-header">Đổi Mật Khẩu</div>
                <div class="card-body">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <!-- Form Group (username)-->
                        <!-- <div class="col gx-3 mb-3">
                            <div class="col-md-6">
                            <label class="small mb-1" for="inputUsername">First Name</label>
                            <input class="form-control" id="inputUsername" name="firstname" formControlName="firstname"  type="text" placeholder="Mời Bạn Nhập Tên " >
                            
                            <i class="fas fa-user icon"id="iconUser"style=""></i>
                            <div *ngIf="
                            userForm.get('firstname')?.hasError('required') &&
                           (userForm.get('firstname')?.touched || userForm.get('firstname')?.dirty)" class="text-red-600 ">
                           FirstName không được để trống!</div>
                            </div>
                            <div class="col-md-6">
                            <label class="small mb-1" for="inputUsername">Last Name</label>
                            <input class="form-control" id="inputUsername" name="lastname" formControlName="lastname" type="text" placeholder="Mời Bạn Nhập Tên " >
                            <i class="fas fa-user icon"id="iconUser"></i>
                            <div *ngIf="
                            userForm.get('lastname')?.hasError('required') &&
                           (userForm.get('lastname')?.touched || userForm.get('lastname')?.dirty)" class="text-red-600 ">
                           LastName không được để trống!</div>
                            
                            </div>
                    
                            
                        </div> -->
                        <!-- Form Row-->
                       
                        <!-- Form Row        -->
                       
                        <!-- Form Group (email address)-->
                        
                        <!-- Form Row-->
                       
                        <!-- Save changes button-->
                      
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <!-- <div class="form-group">
                                    <label for="inputCurrentPassword">Mật Khẩu Hiện Tại</label>
                                    <input type="password" class="form-control" id="inputCurrentPassword" formControlName="currentPassword" />
                                    
                                </div> -->
                                <div class="form-group">
                                    <label for="">Mật Khẩu Hiện Tại</label>
                                    <input type="password" formControlName="oldPassword" name="oldPassword"class="form-control" id="inputcurrentPassword" />
                                    <div *ngIf="
                            userForm.get('oldPassword')?.hasError('required') &&
                           (userForm.get('oldPassword')?.touched || userForm.get('currentPassword')?.dirty)" class="text-red-600 ">
                           Mật khẩu hiện tại không được để trống!</div>
                           
                                </div>
                                <div class="form-group">
                                    <label for="">Mật Khẩu Mới</label>
                                    <input type="password"formControlName="newPassword"name="newPassword" class="form-control" id="inputnewPassword" />
                                    <div *ngIf="
                            userForm.get('newPassword')?.hasError('required') &&
                           (userForm.get('newPassword')?.touched || userForm.get('password')?.dirty)" class="text-red-600 ">
                           Mật khẩu mới không được để trống!</div>
                           <div *ngIf="
                            userForm.get('newPassword')?.hasError('minLenght') &&
                           (userForm.get('newPassword')?.touched || userForm.get('newPassword')?.dirty)" class="text-red-600 ">
                           Mật khẩu hiện tại không được dưới 8 kí tự</div>
                                </div>
                                <div class="form-group">
                                    <label for="">Xác Minh Mật Khẩu Mới</label>
                                     
                                    <input type="password"  class="form-control" id="inputconfirmPassword" name="confirmPass" formControlName="confirmPass" class="form-control">
                                    <div
                      style="color: red"
                      *ngIf="
                        userForm.get('confirmPass')?.hasError('newPasswordMismatch') &&
                        (userForm.get('confirmPass')?.touched ||
                        userForm.get('confirmPass')?.dirty)
                      "
                    >
                      Password không trùng nhau
                    </div>
                    <div *ngIf="
                            userForm.get('confirmPass')?.hasError('required') &&
                           (userForm.get('confirmPass')?.touched || userForm.get('confirmPass')?.dirty)" class="text-red-600 ">
                           Xác Minh Mật khẩu không được để trống!</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- <p class="mb-2">Password requirements</p>
                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimum 8 character</li>
                                    <li>At least one special character</li>
                                    <li>At least one number</li>
                                    <li>Can’t be the same as a previous password</li>
                                </ul> -->
                            </div>
                        </div>
                        <button type="submit"  class="btn btn-primary">Cập Nhật</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $( function() {
      $( "#datepicker" ).datepicker({
        showOtherMonths: true,
        selectOtherMonths: true
      });
    } );
    </script>
