
<!-- component -->
<div class="mb-10">
  <header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        
          <a routerLink=""><div class="nro-text">NRO</div> </a>
        <div class="flex items-center lg:order-2">
          <a href="#"
            class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
            <div class="flex space-x-2 hover:text-red-500 mt-[25px]">
              <button> <img class="w-[20px] -mt-[1px]" src="https://cdn.pnj.io/images/2023/user-regular.svg"
                  alt=""></button>
              <button (click)="CheckLogin()"><a href="infor-account">Tài khoản của tôi</a></button>
            </div>
          </a>
          <a href="#"
            class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
            <div class="flex space-x-2 hover:text-red-500 mt-[25px]">
              <button><img class="-mt-[1px] " src="https://cdn.pnj.io/images/image-update/layout/icon-cart-new.svg"
                  alt=""></button>
              <button> <a routerLink="/cart">Giỏ hàng</a></button>
            </div>
          </a>

          <button *ngIf="isMenuOpen" (mouseenter)="toggleMenu()" data-collapse-toggle="mobile-menu-2" type="button"
            class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="mobile-menu-2" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg  class="w-6 h-6 mt-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
          <div *ngIf="!isMenuOpen" class="xl:hidden mt-4">
           
            <li>
             
              <a routerLink="products"><svg  class="w-6 h-6 mt-1 mr-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg></a>
              <ul class="submenu w-[150px]">
                <li> <a href="products">Trang sức</a></li>
                <li><a href="#">Trang sức cưới</a></li>
                <li><a href="#">Thương hiệu</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="#">Khuyến mãi</a></li>
              </ul>
            </li>
          </div>
        </div>
        
        <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
          <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
            <li>
             
              <a routerLink="products">Trang sức</a>
              <ul class="submenu w-[150px]">
                <li><a href="#">Nhẫn</a></li>
                <li><a href="#">Dây chuyền</a></li>
                <li><a href="#">Đồng hồ</a></li>
                <li><a href="#">Khuyến mãi</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Trang sức cưới</a>
              <ul class="submenu w-[150px]">
                <li><a href="#">Cầu hôn</a></li>
                <li><a href="#">Kết hôn</a></li>
                <li><a href="#">Kỷ niệm</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Thương hiệu</a>
              <ul class="submenu w-[150px]">
                <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/watch.svg" alt=""></a></li>
                <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/disney.svg" alt=""></a></li>
                <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/pnj.svg" alt=""></a></li>
              </ul>
            </li>
            <li>
              <a href="blog">Blog</a>
            </li>
            <li>
              <a href="#">Khuyến mãi</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr class="pb-4 mt-2 text-yellow-500 font-bold">
  </header>


  <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</div>