<div class="mx-[150px] my-5">
  <div class="flex justify-between items-center mb-2">
    <div class="flex space-x-6 items-center">
      <div class="flex space-x-2 hover:text-red-500">
        <button><img class="-mt-[1px]" src="https://cdn.pnj.io/images/image-update/layout/icon-stores-new.svg"
            alt=""></button>
        <button (click)="showMap()" class="">Cửa hàng</button>
      </div>
      <div class="flex space-x-2 hover:text-red-500">
        <button><img class="-mt-[1px]" src="https://cdn.pnj.io/images/image-update/layout/icon-hotline-new.svg"
            alt=""></button>
        <button><a href="https://id.zalo.me/account?continue=https://chat.zalo.me">0347617094</a></button>
      </div>
    </div>
    <div>
      <!-- <img class="-mt-[12px]" class="w-[100px]" src="https://cdn.pnj.io/images/logo/pnj.com.vn.png" alt=""> -->
      <a routerLink=""><div class="nro-text">NRO</div></a>
    </div>
    <div class="flex space-x-6 items-center">
      <div class="flex space-x-2 hover:text-red-500">
        <button> <img class="w-[20px] -mt-[1px]" src="https://cdn.pnj.io/images/2023/user-regular.svg" alt=""></button>
        <button (click)="CheckLogin()"><a href="infor-account">Tài khoản của tôi</a></button>
      </div>
      <div class="flex space-x-2 hover:text-red-500">
        <button><img class="-mt-[1px]" src="https://cdn.pnj.io/images/image-update/layout/icon-cart-new.svg"
            alt=""></button>
        <button> <a routerLink="/cart">Giỏ hàng</a></button>
      </div>
    </div>
  </div>
  <hr>
  <!-- <div class="flex justify-between items-center mt-2">
        <ul class="navbar space-x-6">
            <li><a>Trang sức</a></li>
            <li><a href="#">Trang sức cưới</a></li>
            <li><a href="#">Đồng hồ</a></li>
            <li><a href="#">Quà tặng</a></li>
            <li><a href="#">Thương hiệu</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Khuyến mãi</a></li>
        </ul>
        <div class="flex">
            <input class="w-[400px] hover:bg-gray-300 hover:border-red-500 bg-zinc-200 px-2 py-2 rounded-xl ml-[100px]" type="text" placeholder="Tìm kiếm nhanh">
            <img class="-ml-[30px]" src="https://cdn.pnj.io/images/image-update/layout/mobile/find-icon.svg" alt="">
        </div>
    </div> -->
  <nav class="flex justify-between items-center mt-2">
    <ul class="space-x-5">
      <li>
        <a routerLink="products">Trang sức</a>
        <ul class="submenu w-[150px]">
          <li><a href="#">Nhẫn</a></li>
          <li><a href="#">Dây chuyền</a></li>
          <li><a href="#">Đồng hồ</a></li>
          <li><a href="#">Bông tai</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Trang sức cưới</a>
        <ul class="submenu w-[150px]">
          <li><a href="#">Cầu hôn</a></li>
          <li><a href="#">Kết hôn</a></li>
          <li><a href="#">Kỷ niệm</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Thương hiệu</a>
        <ul class="submenu w-[150px]">
          <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/watch.svg" alt=""></a></li>
          <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/disney.svg" alt=""></a></li>
          <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/pnj.svg" alt=""></a></li>
        </ul>
      </li>
      <li>
        <a href="blog">Blog</a>

      </li>
      <li>
        <a href="#">Khuyến mãi</a>

      </li>
    </ul>
    <div class="flex">
      <input [(ngModel)]="searchTerm"
        class="w-[400px] hover:bg-gray-300 hover:border-red-500 bg-zinc-200 px-2 py-2 rounded-xl ml-[100px]" type="text"
        placeholder="Tìm kiếm nhanh">
      <img (click)="search()" class="-ml-[30px]"
        src="https://cdn.pnj.io/images/image-update/layout/mobile/find-icon.svg" alt="">
    </div>
  </nav>

</div>
<div *ngIf="showmap" class="absolute">
  <svg (click)="showMap()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
    stroke="currentColor" class="w-8 h-8 text-black font-bold absolute ml-[1485px]">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
  </svg>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59586.013455851!2d105.76670218121524!3d21.027650216541648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab481755e517%3A0xd946ead59c90aad2!2zUE5KIDMzNCBD4bqndSBHaeG6pXk!5e0!3m2!1sen!2s!4v1698136367871!5m2!1sen!2s"
    width="1513" height="666" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
