<div class="mx-[150px] my-5">
    <div class="flex justify-between items-center mb-2">
        <div class="flex space-x-6 items-center">
            <div class="flex space-x-2 hover:text-red-500">
                <img class="-mt-[12px]" src="https://cdn.pnj.io/images/image-update/layout/icon-stores-new.svg" alt="">
                <p class="">Cửa hàng</p>
            </div>
            <div class="flex space-x-2 hover:text-red-500">
                <img class="-mt-[12px]" src="https://cdn.pnj.io/images/image-update/layout/icon-hotline-new.svg" alt="">
                <p>0347617094</p>
            </div>
        </div>
        <div>
            <img class="-mt-[12px]" class="w-[100px]" src="https://cdn.pnj.io/images/logo/pnj.com.vn.png" alt="">
        </div>
        <div class="flex space-x-6 items-center">
            <div class="flex space-x-2 hover:text-red-500">
                <img class="w-[20px] -mt-[12px]" src="https://cdn.pnj.io/images/2023/user-regular.svg" alt="">
                <p>Tài khoản của tôi</p>
            </div>
            <div class="flex space-x-2 hover:text-red-500">
                <img  class="-mt-[12px]" src="https://cdn.pnj.io/images/image-update/layout/icon-cart-new.svg" alt="">
                <p routerLink="checkout-cart">Giỏ hàng</p>
            </div>
        </div>
    </div>
    <hr>
    <!-- <div class="flex justify-between items-center mt-2">
        <ul class="navbar space-x-6">
            <li><a>Trang sức</a></li>
            <li><a href="#">Trang sức cưới</a></li>
            <li><a href="#">Đồng hồ</a></li>
            <li><a href="#">Quà tặng</a></li>
            <li><a href="#">Thương hiệu</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Khuyến mãi</a></li>
        </ul>
        <div class="flex">
            <input class="w-[400px] hover:bg-gray-300 hover:border-red-500 bg-zinc-200 px-2 py-2 rounded-xl ml-[100px]" type="text" placeholder="Tìm kiếm nhanh">
            <img class="-ml-[30px]" src="https://cdn.pnj.io/images/image-update/layout/mobile/find-icon.svg" alt="">
        </div>
    </div> -->
    <nav class="flex justify-between items-center mt-2">
        <ul class="space-x-5">
          <li>
            <a routerLink="products">Trang sức</a>
            <ul class="submenu w-[150px]">
              <li><a href="#">Nhẫn</a></li>
              <li><a href="#">Dây chuyền</a></li>
              <li><a href="#">Đồng hồ</a></li>
              <li><a href="#">Bông tai</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Trang sức cưới</a>
            <ul class="submenu w-[150px]">
              <li><a href="#">Cầu hôn</a></li>
              <li><a href="#">Kết hôn</a></li>
              <li><a href="#">Kỷ niệm</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Đồng hồ</a>
            <ul class="submenu w-[150px]">
              <li><a href="#">Đồng hồ bạc</a></li>
              <li><a href="#">Đồng hồ vàng</a></li>
              <li><a href="#">Đồng hồ king cương</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Quà tặng</a>
            <ul class="submenu w-[150px]">
              <li><a href="#">Cho nàng</a></li>
              <li><a href="#">Cho chàng</a></li>
              <li><a href="#">Cho người thân</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Thương hiệu</a>
            <ul class="submenu w-[150px]">
              <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/watch.svg" alt=""></a></li>
              <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/disney.svg" alt=""></a></li>
              <li><a href="#"><img src="https://cdn.pnj.io/images/2023/brand-search-bar/pnj.svg" alt=""></a></li>
            </ul>
          </li>
          <li>
            <a href="#">Blog</a>

          </li>
          <li>
            <a href="#">Khuyến mãi</a>

          </li>
        </ul>
        <div class="flex">
            <input [(ngModel)]="searchTerm" class="w-[400px] hover:bg-gray-300 hover:border-red-500 bg-zinc-200 px-2 py-2 rounded-xl ml-[100px]" type="text" placeholder="Tìm kiếm nhanh">
            <img (click)="search()" class="-ml-[30px]" src="https://cdn.pnj.io/images/image-update/layout/mobile/find-icon.svg" alt="">
        </div>
      </nav>

</div>
