<div class=" md:px-6 2xl:px-20 2xl:container 2xl:mx-auto ">
  <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
  <div class="flex justify-start item-start space-y-2">
    <h1
      class="text-3xl dark:text-white lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800"
    >
      Order #13432
    </h1>
    <p class="text-base dark:text-gray-300 text-gray-600 font-medium leading-6 ">
      21st Mart 2021 at 10:34 PM
    </p>
  </div>
  <div
    class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0"
  >
    <div
      class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8"
    >
      <div
        class="flex flex-col justify-start items-start dark:text-gray-300 text-gray-600 bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full"
      >
        <p
          class="text-lg md:text-xl text-black font-semibold leading-6 xl:leading-5 "
        >
          Giỏ hàng của bạn
        </p>
        <div
          class="mt-6 md:mt-0 flex justify-start flex-col md:flex-row items-start md:items-center space-y-4 md:space-x-6 xl:space-x-8 w-full"
          *ngFor="let item of cartItems.products"
        >
          <div class="w-full md:w-40">
            <img
              class="w-full hidden md:block"
              src="{{ item.product.images[0] }}"
              alt="dress"
            />
            <img
              class="w-full md:hidden"
              src="{{ item.product.images[0] }}"
              alt="dress"
            />
          </div>
          <div
            class="flex justify-between items-start w-full flex-col md:flex-row space-y-4 md:space-y-0"
          >
            <div
              class="w-full flex flex-col justify-start items-start space-y-8 dark:text-gray-950"
            >
              <h3
                class="text-xl  xl:text-2xl font-semibold leading-6 text-gray-800"
              >
                {{ item.product.title }}
              </h3>
              <div class="flex justify-start items-start flex-col space-y-2 dark:text-gray-950">
                <p class="text-sm  leading-none text-gray-800">
                  <span class="dark:text-gray-400 text-gray-300">Giá: </span>
                  {{ formatPrice(item.product.price) }}
                </p>
                <p class="text-sm leading-none ">
                  <span class=""
                    >Kích thước:
                  </span>
                  {{ item.size }}
                </p>
                <p class="text-sm  leading-none text-gray-800">
                  <span class="dark:text-gray-400 text-gray-300"
                    >Số lượng:
                  </span>
                  {{ item.quantity }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex justify-center md:flex-row flex-col items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8"
      >
        <div
          class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50  space-y-6"
        >
          <h3
            class="text-xl font-semibold leading-5 text-gray-800"
          >
            Tổng kết
          </h3>
          <div
            class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4"
          >
            <div class="flex justify-between w-full">
              <!-- <p class="text-base dark:text-white leading-4 text-gray-800">
                Subtotal
              </p> -->
              <!-- <p class="text-base dark:text-gray-300 leading-4 text-gray-600">
                {{ formatPrice(getTotalPrice()) }}
              </p> -->
            </div>
            <div class="flex justify-between items-center w-full">
              <p class="text-base dark:text-gray-950 leading-4 text-gray-800">
                Mã giảm giá
              </p>
              <p class="text-base dark:text-gray-300 leading-4 text-gray-600">
                <select
                  style="width: 330px"
                  id="countries"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-100 dark:text-gray-950 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  (change)="onVoucherChange($event)"
                >
                  <option value="" selected>Chọn mã giảm giá</option>
                  <option
                    *ngFor="let item of discountList"
                    [value]="item._id"
                    [disabled]="isOptionDisabled(item.fromPrice)"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </p>
            </div>
          </div>
          <div class="flex justify-between items-center w-full">
            <p
              class="text-base dark:text-gray-950 font-semibold leading-4 text-gray-800"
            >
              Tổng tiền
            </p>
            <p
              class="text-base dark:text-gray-950 font-semibold leading-4 text-gray-600"
            >
              {{ formatPrice(calculatePrice()) }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-gray-50  w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col"
    >
      <h3 class="text-xl dark:text-gray-950 font-semibold leading-5 text-gray-800">
        Người mua
      </h3>
      <div
        class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0"
      >
        <div class="flex flex-col justify-start items-start flex-shrink-0">
          <div
            class="flex justify-center w-full md:justify-start items-center space-x-4 py-8 border-b border-gray-200"
          >
            <div *ngIf="userLogin.images; else notLogin">
              <img src="userLogin.images" alt="avatar" />
            </div>
            <ng-template #notLogin>
              <img
                src="../../../assets/img/user.jpg"
                width="100"
                alt="avatar"
              />
            </ng-template>
            <div class="flex justify-start items-start flex-col space-y-2">
              <p
                class="text-base dark:text-gray-950 font-semibold leading-4 text-left text-gray-800"
              >
                {{ userLogin.firstname + " " + userLogin.lastname }}
              </p>
              <p class="text-sm dark:text-gray-950 leading-5 text-gray-600">
                {{ userLogin.address }}
              </p>
            </div>
          </div>

          <div
            class="flex justify-center text-gray-800 dark:text-gray-950 md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5Z"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3 7L12 13L21 7"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p class="cursor-pointer text-sm leading-5">
              {{ userLogin.email }}
            </p>
          </div>
        </div>
        <div
          class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0"
        >
          <div
            class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start"
          >
            <div
              class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8"
            >
              <p
                class="text-base dark:text-gray-950 font-semibold leading-4 text-center md:text-left text-gray-800"
              >
                Địa chỉ giao hàng
              </p>
              <p
                class="w-48 lg:w-full dark:text-gray-950 xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600"
              >
                {{ userLogin.address }}
              </p>
            </div>
            <div
              class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4"
            >
              <p
                class="text-base dark:text-gray-950 font-semibold leading-4 text-center md:text-left text-gray-800"
              >
                Phương thức thanh toán
              </p>
              <p
                class=" lg:w-full dark:text-gray-300 xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600"
              >
                <select
                  id="countries"
                  class="bg-gray-50 border border-gray-300 mb-[30px] text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-100 dark:text-gray-950 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  (change)="paymentMethod($event)"
                >
                  <option value="" selected>Chọn phương thức thanh toán</option>
                  <option value="Thanh toán khi nhận hàng">
                    Thanh toán khi nhận hàng
                  </option>
                  <option value="VN Pay">VN Pay</option>
                </select>
              </p>
            </div>
          </div>
          <div
            class="flex w-full justify-center items-center md:justify-start md:items-start"
          >
            <!-- <button
              class="mt-6 md:mt-0 dark:border-gray-950 dark:hover:bg-gray-900 dark:bg-transparent dark:text-gray-950 py-5 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 border border-gray-800 w-96 2xl:w-full text-base font-medium leading-4 text-gray-800"
              (click)="paymentOrder()"
            >
              Thanh toán
            </button> -->
            <button (click)="paymentOrder()"
                  class=" flex ml-auto text-white bg-red-500 border-0 py-2 px-4 focus:outline-none hover:bg-red-600 rounded">
                  Thanh toán
                </button>
                <button routerLink="/cart" (click)="paymentOrder()"
                class=" flex ml-auto text-white bg-red-500 border-0 py-2 px-3 focus:outline-none hover:bg-red-600 rounded">
                Xem giỏ hàng
              </button>
            <!-- <button
              class="mt-6 md:mt-0 dark:border-gray-950 dark:hover:bg-gray-900 dark:bg-transparent dark:text-gray-950 py-5 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 border border-gray-800 w-96 2xl:w-full text-base font-medium leading-4 text-gray-800"
              routerLink="/cart"
            >
              Xem giỏ hàng
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
